{% load i18n %}
{% load static %}

<html>
    <head>
        <title>NTP 2 Community -  Data entry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accueil/w3.css' %}">
        <link rel="stylesheet" href="{% static 'accueil/w3-theme-maison.css' %}">
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/tabber.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/sondageM.css" />

    </head>
<body class="w3-theme-l5">
<header class="w3-row w3-theme-d3" id="myHeader">

    <div class="w3-quarter">
        <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
    </div>

    <div class="w3-half w3-center">
        <h4>NTP 2 Community -  Summary</h4>
    </div>
    <div class="w3-quarter w3-right-align">
    </div>
</header>
<div class="principal">
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}
   <div class="tabber">
    {% for dossier in dossiers %}
        {% if forloop.counter > 1 %}
            </table></div>
        {% endif %}
    {% if dossier.id < 10 %}
       <div class="tabbertab"><h3>{{ dossier.reponse_en }}- {{ dossier.num_dossiers }}</h3>
           <p><b>{{ dossier.reponse_en }} - Completed files: {{ dossier.num_dossiers }}</b><br />
           Initial Target: {{ dossier.estimatedcases }} --- Revised Target: {{ dossier.reelcases }}</p>
           <div class="w3-row">
               <div class="w3-quarter">
               </div>
               <div class="w3-half w3-center">
                <table class="w3-table w3-border">
                <tr><td></td><td></td><td></td></tr>
                <tr class="w3-theme-d1">
                    <td>RA</td><td>Completed files:</td><td>Repetitives Long / Short</td>
                </tr>
                {% for ar in indexh %}
                    {% if ar.profile.province == dossier.id and ar.nb_dossiers > 0 %}
                    <tr class="w3-theme-l4">
                        <td>{{ ar.last_name|capfirst  }} - {{ ar.first_name|slice:"0:1"|capfirst }}</td><td>{{ ar.nb_dossiers }}</td><td></td><tr>
                        {% for assistant in assistants %}
                            {% if assistant == ar.id %}
                                {% for questionnaire in questionnaires %}
                                    {% for k, v in repet_par_ass.items %}
                                        {% if k.0 == assistant and k.1 == questionnaire and questionnaire == 2000 %}
                                            <tr><td></td><td></td><td>+ LONG: {{v}}</td></tr>
                                        {% elif k.0 == assistant and k.1 == questionnaire and questionnaire == 3000 %}
                                            <tr><td></td><td></td><td>- SHORT: {{v}}</td></tr>
                                        {% endif %}
                                     {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    <tr>
                    {% endif %}
                {% endfor %}
                </table>
                </div>
        <div class="w3-quarter">
        </div>
   {% else %}
   <div class="tabbertab"><h3>{{ dossier.reponse_en }}- {{ dossier.num_dossiers }}</h3>
    <div class="w3-row">
       <div class="w3-quarter">
       </div>
       <div class="w3-half w3-center">
       <table class="w3-table-all w3-border">
       <tr class="w3-theme-d1"><td>Province</td><td>Completed files</td><td>Initial estimate</td><td>Real number of cases</td></tr>
       {% for province in dossiers %}
           {% if province.id < 10 %}
        <tr><td>{{ province.reponse_en }}</td>
        <td>{{ province.num_dossiers }}</td>
        <td>{{ province.estimatedcases }}</td>
        <td>{{ province.reelcases }}</td></tr>
           {% endif %}
        {% endfor %}
       </table>
    {% endif %}
   </div>
   <div class="w3-quarter">
   </div>
{% endfor %}
</div>


</div>
<footer class="w3-container w3-theme-d5 footerw3">
    <h5><a class="w3-text-white" href="mailto:malijai.caulet.ippm@ssss.gouv.qc.ca?subject=NTP2 troubles">For any question or problem click here</a></h5>
</footer>

</body>
</html>

