{% load formulaires %}
{% with type=typequest|stringformat:"s" %}
{% if type == "STRING" or type == "NUMBER" %}
    {% autoescape off %}
        <td class=" {{ classe }} ">{{ textequest }}</td>
        <td class=" {{ classe }} ">{% fait_textechar questid type persid=persid parent=parent relation=relation cible=cible Vid=Vid Aid=Aid uid=user.id genre=0 %}</td>
    {% endautoescape %}
{% elif type == "DATE" %}
    {% autoescape off %}
        <td class=" {{ classe }} ">{{ textequest }}</td>
        <td class=" {{ classe }} ">{% fait_date questid type persid=persid parent=parent relation=relation cible=cible  Vid=Vid Aid=Aid uid=user.id %}</td>
    {% endautoescape %}
{% elif type == "BOOLEAN" or type == "DICHO" or type == "DICHOU" or type == "DICHON" %}
    {% autoescape off %}
        <td class=" {{ classe }} ">{{ textequest }}</td>
        <td class=" {{ classe }} ">{% fait_dichou questid type persid=persid parent=parent relation=relation cible=cible  Vid=Vid Aid=Aid uid=user.id %}</td>{% endautoescape %}
{% elif type == "PROVINCE"  or type == "PAYS" or type == "LANGUE" or type == "VIOLATION" %}
    {% autoescape off %}
         <td class=" {{ classe }} ">{{ textequest }}</td>
         <td class=" {{ classe }} ">{% fait_table questid type persid=persid parent=parent relation=relation cible=cible  Vid=Vid Aid=Aid uid=user.id %}</td>{% endautoescape %}
{% elif type == "CATEGORIAL" %}
    {% autoescape off %}
         <td class=" {{ classe }} ">{{ textequest }}</td>
         <td class=" {{ classe }} ">{% fait_reponse questid type persid=persid parent=parent relation=relation cible=cible  Vid=Vid Aid=Aid uid=user.id %}</td>{% endautoescape %}
{% elif type == "HCR20"  or type ==  "POSOLOGIE" or type == "VICTIME" %}
    {% autoescape off %}
        <td class=" {{ classe }} ">{{ textequest }}</td>
        <td class=" {{ classe }} ">{% fait_table_valeurs questid type persid=persid parent=parent relation=relation cible=cible  Vid=Vid Aid=Aid uid=user.id %}</td>{% endautoescape %}
{% elif type ==  "ETABLISSEMENT"  or type ==  "MUNICIPALITE" %}
    {% autoescape off %}
         <td class=" {{ classe }} ">{{ textequest }}</td>
         <td class=" {{ classe }} ">{% fait_table_valeurs_prov questid type persid=persid parent=parent relation=relation cible=cible province=province  Vid=Vid Aid=Aid uid=user.id %}</td>{% endautoescape %}
{% else %}
    {% autoescape off %}
        <td class=" {{ classe }} ">{{ textequest }} -- {{ type }}</td>
    {% endautoescape %}
{% endif %}
{% endwith %}