{% extends 'dataentry_base.html' %}
{% load i18n %}
{% load static %}
{% load formulaires %}

{% block content %}
<h2>{{Questtitre}}</h2>
<h2>Essai Personne_ID={{ pid }} Province ID = {{ province }} </h2>
{% csrf_token %}
   <input name="pid" type="hidden" value="{{ pid }}" />
   <input name="qid" type="hidden" value="{{ qid }}" />
   <input name="province" type="hidden" value="{{ province }}" />
   <div class="tabber">

    {% for question in questions %}
        {% if question.typequestion.nom == 'TITLE' %}
            {% if forloop.counter > 1 %}
                </table></div>
            {% endif %}
                 <div class="tabbertab"><h3>{{ question.questionen|slice:"0:15" }}</h3><b>{{ question.questionen}}</b>
                 <table><tr><td></td><td></td><td></td><td></td></tr>
        {% else %}
            {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                <tr class="{% cycle 'Q1' 'Q2' %}"><td>Ni Ni</td>
                 {% include "aide_snippet.html" with aide=question.aideen %}
                 {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=province %}
                </tr>
            {% elif question.id in ascendancesF and question.id in ascendancesM %}
                     {% for enfant in question.question_set.all %}
                        {% if forloop.counter == 1 %}
                            <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}"><td class="fillemere">Mere et Fille</td>
                                {% include "aide_snippet.html" with aide=question.aideen classe="fillemere" %}
                                {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=province relation=enfant.relation cible=enfant.cible classe="fillemere" %}
                            </tr>
                        {% endif %}
                     {% endfor %}
            {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                <tr class="mere"><td class="mere">Mere et NON fille</td>
                    {% for enfant in question.question_set.all %}
                        {% if forloop.counter == 1 %}
                            {% include "aide_snippet.html" with aide=enfant.aideen %}
                            {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid  province=province relation=enfant.relation cible=enfant.cible classe="mere" %}
                </tr>
                        {% endif %}
                     {% endfor %}
                     {% endif %}
            {% for enfant in question.question_set.all %}
                {% if enfant.id not in ascendancesM %}
                     <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}"><td class="fille">Enfant</td>
                         {% include "aide_snippet.html" with aide=question.aideen classe="fille" %}
                         {% include "champs_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionen questid=enfant.id persid=pid province=province classe="fille" %}
                     </tr>
                 {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>

</div><!--Fermeture de la boite à onglets--> '
{% endblock content %}
