{% extends 'dataentry_base.html' %}
{% load i18n %}
{% load static %}
{% load formulairesntp2 %}

{% block content %}
<h2>{{Questtitre}}</h2>
<h2> {{ code }} - {{ questionnaire }}</h2>
{% csrf_token %}
   <input name="pid" type="hidden" value="{{ pid }}" />
   <input name="qid" type="hidden" value="{{ qid }}" />
   <div class="tabber">

    {% for question in questions %}
        {% if question.typequestion.nom == 'TITLE' %}
            {% if forloop.counter > 1 %}
                </table></div>
            {% endif %}
                 <div class="tabbertab"><h3>{{ question.questionen|slice:"0:15" }}</h3><b>{{ question.questionen}}</b>
                 <table><tr><td></td><td></td><td></td></tr>
        {% elif question.typequestion.nom == 'COMMENT' %}
            <tr><td class="plusdeux" colspan="3">{{ question.questionen }}<td></tr>
        {% else %}
            {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                <tr class="{% cycle 'Q1' 'Q2' %}">
                    {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=user.profile.province varname=question.varname %}
                    {% include "aide_snippet.html" with aide=question.aideen %}
                </tr>
            {% elif question.id in ascendancesF and question.id in ascendancesM %}
                     {% for enfant in question.questionntp2_set.all %}
                        {% if forloop.counter == 1 %}
                            <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}">
                                {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=user.profile.province relation=enfant.relation cible=enfant.cible classe="fillemere" varname=question.varname %}
                                {% include "aide_snippet.html" with aide=question.aideen classe="fillemere" %}
                            </tr>
                        {% endif %}
                     {% endfor %}
            {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                <tr class="mere">
                    {% for enfant in question.questionntp2_set.all %}
                        {% if forloop.counter == 1 %}
                            {% include "champs_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid  province=user.profile.province relation=enfant.relation cible=enfant.cible classe="mere" varname=question.varname %}
                            {% include "aide_snippet.html" with aide=question.aideen %}
                </tr>
                        {% endif %}
                     {% endfor %}
            {% endif %}
            {% for enfant in question.questionntp2_set.all %}
                {% if enfant.id not in ascendancesM %}
                     <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}">
                     {% if enfant.id|divisibleby:2 %}
                         {% include "champs_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionen questid=enfant.id persid=pid province=user.profile.province classe="fifille" varname=enfant.varname %}
                         {% include "aide_snippet.html" with aide=enfant.aideen classe="fifille" %}
                    {% else %}
                         {% include "champs_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionen questid=enfant.id persid=pid province=user.profile.province classe="fille" varname=enfant.varname %}
                         {% include "aide_snippet.html" with aide=enfant.aideen classe="fille" %}
                    {% endif %}
                     </tr>
                 {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>

</div><!--Fermeture de la boite à onglets-->
{% endblock content %}
