{% extends 'dataentryafsf_base.html' %}
{% load i18n %}
{% load static %}
{% load formulairesrepet %}

{% block content %}
<h2>{{Questtitre}}</h2>
<h2>Essai Personne_ID={{ pid }} Province ID = {{ province }} nb de fiches = {{ compte }}</h2>
    {% csrf_token %}
    <input name="pid" type="hidden" value="{{ pid }}" />
    <input name="qid" type="hidden" value="{{ qid }}" />
    <input name="province" type="hidden" value="{{ province }}" />
    <div class="tabber">
        {% for x in fiches %}
            {% if forloop.first %}
                <div class="tabbertab"><h3>Hosp: {{ x }}</h3><b>Hospitalized on: {{ x }}</b>
                <button type="submit" class="btn-default" name="remove_{{ x }}" >Remove the current card # {{ x }}</button>
                <div class="tabber">
            {% else %}
                </div>
                <div class="tabbertab"><h3>Hosp: {{ x }}</h3><b>Hospitalized on: {{ x }}</b>
                <button type="submit" class="btn-default" name="remove_{{ x }}" >Remove the current card # {{ x }}</button>
                <div class="tabber">
            {% endif %}
            {% for question in questions %}
                {% if question.typequestion.nom == 'TITLE' %}
                    {% if forloop.counter > 1 %}
                        </table></div>
                    {% endif %}
                 <div class="tabbertab"><h3>{{ question.questionen|slice:"0:15" }}</h3><b>{{ question.questionen}}</b>
                 <table><tr><td></td><td></td><td></td></tr>
                {% else %}
                    {% if question.id not in ascendancesF and question.id not in ascendancesM %}
                        <tr class="{% cycle 'Q1' 'Q2' %}">
                         {% include "aide_snippet.html" with aide=question.aideen %}
                         {% include "champsrepetntp2_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=province ordre=x %}
                        </tr>
                    {% elif question.id in ascendancesF and question.id in ascendancesM %}
                         {% for enfant in question.questionntp2_set.all %}
                            {% if forloop.counter == 1 %}
                            <tr style="display: none;" class="child-row-{{question.parent_id}}{{question.relation}}{{question.cible}}">
                                {% include "aide_snippet.html" with aide=question.aideen classe="fillemere" %}
                                {% include "champsrepetntp2_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid province=province relation=enfant.relation cible=enfant.cible classe="fillemere" ordre=x %}
                            </tr>
                            {% endif %}
                         {% endfor %}
                    {% elif question.id in ascendancesM and question.id not in ascendancesF %}
                            <tr class="mere">
                        {% for enfant in question.questionntp2_set.all %}
                            {% if forloop.counter == 1 %}
                                {% include "aide_snippet.html" with aide=enfant.aideen %}
                                {% include "champsrepetntp2_snippet.html" with typequest=question.typequestion textequest=question.questionen questid=question.id persid=pid  province=province relation=enfant.relation cible=enfant.cible classe="mere" ordre=x %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% for enfant in question.questionntp2_set.all %}
                        {% if enfant.id not in ascendancesM %}
                             <tr style="display: none;" class="child-row-{{enfant.parent_id}}{{enfant.relation}}{{enfant.cible}}">
                                 {% include "aide_snippet.html" with aide=question.aideen classe="fille" %}
                                 {% include "champsrepetntp2_snippet.html" with typequest=enfant.typequestion textequest=enfant.questionen questid=enfant.id persid=pid province=province classe="fille" ordre=x %}
                             </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
             {% endfor %}
             </table>
             </div>
             <button type="submit" class="btn-default" name="current_{{ x }}" >Save current card # {{ x }}</button>
             <button type="submit" class="btn-default" name="add_{{ x }}" >Save current card and add one</button>
          </div>
         {% endfor %}

   </div><!--Fermeture de la boite à onglets--> '

{% endblock content %}

{% block pagination %}

<div class="pagination">

{% if fiches.has_other_pages %}
    {% if fiches.has_previous %}
      <a href="?page={{ fiches.previous_page_number }}">&laquo;</a>
    {% else %}
       <a href="#" >&laquo;</a>
    {% endif %}
    {% for i in fiches.paginator.page_range %}
      {% if fiches.number == i %}
       <a href="#" class="active"(current)>{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if fiches.has_next %}
      <a href="?page={{ fiches.next_page_number }}">&raquo;</a>
    {% else %}
       <a href="#" >&raquo;</a>
    {% endif %}
{% endif %}
</div>

{% endblock pagination %}